{:paths ["src"]
 :deps  {org.clojure/clojurescript {:mvn/version "1.10.520"}}
 :aliases
        {:repl/node {:extra-paths ["test"]
                     :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}
                     :main-opts   ["-m" "cljs.main" "-re" "node"]}
         :test      {:extra-deps  {olical/cljs-test-runner    {:mvn/version "3.7.0"}
                                   com.cognitect/transit-cljs {:mvn/version "0.8.264"}
                                   org.clojure/test.check     {:mvn/version "1.0.0"}}
                     :extra-paths ["test" "cljs-test-runner-out/gen"]
                     :main-opts   ["-m" "cljs-test-runner.main"]}}}
