{:paths ["src"]
 :deps  {org.clojure/clojurescript {:mvn/version "1.10.520"}}
 :aliases
        {:repl/node {:extra-paths ["test"]
                     :main-opts ["-m" "cljs.main" "-re" "node"]}
         :test      {:extra-deps  {olical/cljs-test-runner {:mvn/version "3.5.0"}}
                     :extra-paths ["test" "cljs-test-runner-out/gen"]
                     :main-opts   ["-m" "cljs-test-runner.main"]}
         :jar       {:extra-deps {pack/pack.alpha
                                  {:git/url "https://github.com/juxt/pack.alpha.git"
                                   :sha     "8acf80dd4d6e5173585f5c6fec7af28a310f3ed7"}}
                     :main-opts  ["-m" "mach.pack.alpha.skinny" "--no-libs"
                                  "--project-path" "pinto.jar"]}
         :install   {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                     :main-opts  ["-m" "deps-deploy.deps-deploy" "install"
                                  "pinto.jar"]}
         :deploy    {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                     :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"
                                  "pinto.jar"]}}}
