{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changelog" {:file "CHANGELOG.md"}]
                   ["Overview" {:file "doc/overview.md"}]
                   ["Object Extraction" {:file "doc/object.md"}]
                   ["Recursive Beans" {:file "doc/recursive.md"}]
                   ["Key Mapping" {:file "doc/key-mapping.md"}]}
